.AppMain {
  display: grid;
  grid-template-rows: auto 0.5fr 0.5fr auto;
  width: 95%;
  height: 95vh;
}

.SeparatorButton {
  width: 85pt;
  padding: 10px;
}

.PaineTabs {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: auto;
  width: 100%;
  height: 100%;
}

.MainPain {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: auto;
  width: 100%;
  height: 100%;
}

.TabButton {
  text-transform: none;
}

.FileList {
  display: grid;
  overflow: scroll;
  width: 100%;
  height: 100%;
}

/* ---------------------------------------------------------- */
.Dlg {
  width: 80%;
  height: 80%;
}

.DlgLayout {
  display: grid;
  grid-template-rows: auto 1fr auto;

  margin: 0 auto;

  width: 90%;
  height: 100%;
}

.DlgTitle {
  margin-left: auto;
  margin-right: auto;
}

.DlgTextAreas {
  margin-left: auto;
  margin-right: auto;
}

.DlgSingleTextArea {
  display: grid;
  grid-template-columns: 1fr;
}

.DlgTextArea {
  margin-left: auto;
  margin-right: auto;

  width: 90%;
}

.DlgButton {
  margin-left: auto;
  margin-right: auto;
}
